*{
	margin: 0;
	padding: 0;
}

@font-face{
	font-family: "HelveticaNeueLTStd Lt";
	src: url("fonts/HelveticaNeueLTStd Lt.otf");
}

/*Général balises*/
body{
	font-family: "HelveticaNeueLTStd Lt", sans-serif;
	}

/*Header balise*/
header{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	height: 46.875em;
	padding: 2%;
	background: url("img/image-499666622.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
}

ul{
	display: flex;
	flex-direction: row;
	list-style: none;
	width: 20%;
}

li{
	margin: 15%;
}

h1{
	font-size: 4.688em;
}

button{
	width: 12.500em;
	height: 3.125em;
	font-size: 1.250em;
	background-color: #F57E37;
	color: #fff;
	border: none;
}

/*Main Balises*/
main{
	width: 100%;
	padding: 2%;
	color: #A49F9F;
}

hr{
	width: 31.250em;
	margin-left: 3.500em;
	color: #F6F6F3;
}

h2{
	font-size: 2.500em;
}

h4{
	font-weight: bold;
}

article{
	display: flex;
	flex-direction: row;
	margin: 5%;
}

article img{
	margin-right: 3.750em;  
}
/*Header class*/
.nav{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.titre{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	height: 31.250em;
	padding: 17%;
}

.titre p{
	font-size: 2.188em;
}

/*Main class*/
.feature{
	width: 100%;
}

.titre2{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	padding: 2%;
	margin-left: 17.813em;
}

.container1{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	padding: 2%;
	margin-left: 12.188em;
}

.container2{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	padding: 2%;
	margin-left: 12.500em;
}

.txticon1, .txticon2, .txticon3, .txticon4{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

/*Header ID*/

/*Main ID*/

