*{
	margin: 0;
	padding: 0;
}

/*@font-face{
	font-family: "HelveticaNeueLTStd Lt";
	src: url("fonts/HelveticaNeueLTStd Lt.otf");
}*/

/*Général balises*/
body{
	font-family: "HelveticaNeueLTStd Lt", sans-serif;
	}
/*Général class*/

/*Header balise*/
header{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	height: 46.875em;
	padding: 2%;
	background: linear-gradient(
		rgba(0, 0, 0, 0.5),
		rgba(0, 0, 0, 0.5)
		),url("img/image-499666622.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
}

ul{
	display: flex;
	flex-direction: row;
	list-style: none;
	width: 20%;
}

li{
	margin: 15%;
}

li a{
	text-decoration: none;
	color: #fff;
}

h1{
	font-size: 4.688em;
}

button{
	width: 12.500em;
	height: 3.125em;
	font-size: 1.250em;
	background-color: #F57E37;
	color: #fff;
	border: none;
}

/*Main Balises*/
main{
	width: 100%;
	color: #A49F9F;
}

hr{
	width: 31.250em;
	margin-left: 3.500em;
	color: #F6F6F3;
}

h2{
	font-size: 2.500em;
}

h4{
	font-weight: bold;
}

article{
	display: flex;
	flex-direction: row;
	margin: 5%;
}

article img{
	margin-right: 3.750em;
}

/*span{
	font-size: 0.750em;
}*/

i{
	margin: 1%;
}

fieldset{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 80%;
	height: 28.125em;
	border: none;
	color: #E5E5DF;
}

fieldset input{
	width: 100%;
	height: 3.125em;
	border: none;
	background-color: #F6F5F0;
}
/*Footer balises*/
footer{
	width: 100%;
	height: 37.500em;
	background: linear-gradient(
		rgba(0, 0, 0, 0.5),
		rgba(0, 0, 0, 0.5)
		),url("img/image-876206940.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
}
/*Header class*/
.nav{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.nav.fixed{
	transition-property: margin-top,margin-right;
  transition-duration: .5s,.1s;
  transition-delay: 0;
  transition-timing-function: cubic-bezier(0.22,0.99,0.62,1);
  -moz-transition-property: margin-top,margin-right;
  -moz-transition-duration: .5s,.1s;
  -moz-transition-delay: 0;
  -moz-transition-timing-function: cubic-bezier(0.22,0.99,0.62,1);
  -o-transition-property: margin-top,margin-right;
  -o-transition-duration: .5s,.1s;
  -o-transition-delay: 0;
  -o-transition-timing-function: cubic-bezier(0.22,0.99,0.62,1);
  -ms-transition-property: margin-top,margin-right;
  -ms-transition-duration: .5s,.1s;
  -ms-transition-delay: 0;
  -ms-transition-timing-function: cubic-bezier(0.22,0.99,0.62,1);
  -webkit-transition-property: margin-top,margin-right;
  -webkit-transition-duration: .5s,.1s;
  -webkit-transition-delay: 0;
  -webkit-transition-timing-function: cubic-bezier(0.22,0.99,0.62,1);
  position:fixed;
  top:0;
  z-index:1000;
	background-color: rgba(0, 0, 0, 0.5);
}

.titre{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	height: 31.250em;
	padding: 17%;
}

.titre p{
	font-size: 2.188em;
}

/*Main class*/
.feature{
	width: 100%;
}

.titre2{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	padding: 2%;
	margin-left: 17.813em;
}

.container1{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	padding: 2%;
	margin-left: 12.188em;
}

.container2{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	padding: 2%;
	margin-left: 12.500em;
}

.txticon1, .txticon2, .txticon3, .txticon4{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.row{
	margin-left: 17.813em;
}

.row ul li{
	font-weight: bold;
	color: #9A959F;
}

.pfimg{
	display: flex;
	justify-content: center;
	width: 68%;
	margin-top: 1.875em;
	margin-left: -2.500em;
}

.comment{
	width: 100%;
	margin-top: 3.125em;
	background-color: #F57E37;
	color: #fff;
}

.txtcom{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 18.750em;
	margin-left: 21.250em;
}

.containteam{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 43.750em;
	margin-left: 14.375em;
}

.blocteam{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	width: 18%;
	height: 37.500em;
}

.blocteam hr{
	width: 100%;
	margin-left: 0;
}

.static{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 37.500em;
	background: linear-gradient(
		rgba(0, 0, 0, 0.5),
		rgba(0, 0, 0, 0.5)
		),url("img/image-195625538.jpg");
		background-size: cover;
		background-repeat: no-repeat;
	color: #fff;
}

.txtstatic{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
	height: 60%;
	margin-left: 20.000em;
}

.txtstatic hr{
	width: 55%;
	margin-left: 0;
}

.contact{
	width: 100%;
	height: 50.000em;
}

.containasid{
	display: flex;
	margin-left: 20.000em;
}

.asidleft{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 30%;
	height: 37.500em;
	margin-right: 6.250em;
}

.txtadd{
	display: flex;
}

.txtadd p{
	margin-right: 25%;
}

.txtadd p a{
	text-decoration: none;
	color: #F57E37;
}

.asidright{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 30%;
	height: 37.500em;
}

.msgin{
	height: 12.500em;
}

/*Footer Class*/
.containtxtfoo{
	display: flex;
	align-items: center;
	margin-left: 15.000em;
}

.txtfoo{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 18.750em;
}

.txtfoo p{
	font-size: 2.500em;
}

.barfoo{
	display: flex;
	align-items: center;
	width: 100%;
	height: 3.125em;
	background-color: #1F1F1F;
	color: #A49F9F;
}

.barfoo h6{
	margin-left: 29.688em;
}

.barfoo span{
	font-weight: bold;
	color: #fff;
}
/*Header ID*/

/*Main ID*/
